/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/open-sans/open-sans-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/open-sans/open-sans-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/open-sans/open-sans-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/open-sans/open-sans-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/open-sans/open-sans-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/open-sans/open-sans-v18-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  
  /* open-sans-italic - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('./fonts/open-sans/open-sans-v18-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/open-sans/open-sans-v18-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/open-sans/open-sans-v18-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/open-sans/open-sans-v18-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('./fonts/open-sans/open-sans-v18-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/open-sans/open-sans-v18-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  
  /* open-sans-600 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/open-sans/open-sans-v18-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/open-sans/open-sans-v18-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/open-sans/open-sans-v18-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/open-sans/open-sans-v18-latin-600.woff') format('woff'), /* Modern Browsers */
         url('./fonts/open-sans/open-sans-v18-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/open-sans/open-sans-v18-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
  }

  

/* poppins-200 - latin */
@font-face {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 200;
   src: url('./fonts/poppins/poppins-v15-latin-200.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('./fonts/poppins/poppins-v15-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./fonts/poppins/poppins-v15-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
        url('./fonts/poppins/poppins-v15-latin-200.woff') format('woff'), /* Modern Browsers */
        url('./fonts/poppins/poppins-v15-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
        url('./fonts/poppins/poppins-v15-latin-200.svg#Poppins') format('svg'); /* Legacy iOS */
 }
 
 /* poppins-200italic - latin */
 @font-face {
   font-family: 'Poppins';
   font-style: italic;
   font-weight: 200;
   src: url('./fonts/poppins/poppins-v15-latin-200italic.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('./fonts/poppins/poppins-v15-latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./fonts/poppins/poppins-v15-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('./fonts/poppins/poppins-v15-latin-200italic.woff') format('woff'), /* Modern Browsers */
        url('./fonts/poppins/poppins-v15-latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('./fonts/poppins/poppins-v15-latin-200italic.svg#Poppins') format('svg'); /* Legacy iOS */
 }
 
 /* poppins-300 - latin */
 @font-face {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 300;
   src: url('./fonts/poppins/poppins-v15-latin-300.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('./fonts/poppins/poppins-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./fonts/poppins/poppins-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
        url('./fonts/poppins/poppins-v15-latin-300.woff') format('woff'), /* Modern Browsers */
        url('./fonts/poppins/poppins-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
        url('./fonts/poppins/poppins-v15-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
 }
 
 /* poppins-300italic - latin */
 @font-face {
   font-family: 'Poppins';
   font-style: italic;
   font-weight: 300;
   src: url('./fonts/poppins/poppins-v15-latin-300italic.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('./fonts/poppins/poppins-v15-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./fonts/poppins/poppins-v15-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('./fonts/poppins/poppins-v15-latin-300italic.woff') format('woff'), /* Modern Browsers */
        url('./fonts/poppins/poppins-v15-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('./fonts/poppins/poppins-v15-latin-300italic.svg#Poppins') format('svg'); /* Legacy iOS */
 }
 
 /* poppins-regular - latin */
 @font-face {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   src: url('./fonts/poppins/poppins-v15-latin-regular.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('./fonts/poppins/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./fonts/poppins/poppins-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('./fonts/poppins/poppins-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('./fonts/poppins/poppins-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('./fonts/poppins/poppins-v15-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
 }
 
 /* poppins-italic - latin */
 @font-face {
   font-family: 'Poppins';
   font-style: italic;
   font-weight: 400;
   src: url('./fonts/poppins/poppins-v15-latin-italic.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('./fonts/poppins/poppins-v15-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./fonts/poppins/poppins-v15-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('./fonts/poppins/poppins-v15-latin-italic.woff') format('woff'), /* Modern Browsers */
        url('./fonts/poppins/poppins-v15-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('./fonts/poppins/poppins-v15-latin-italic.svg#Poppins') format('svg'); /* Legacy iOS */
 }
 
 /* poppins-500 - latin */
 @font-face {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   src: url('./fonts/poppins/poppins-v15-latin-500.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('./fonts/poppins/poppins-v15-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./fonts/poppins/poppins-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
        url('./fonts/poppins/poppins-v15-latin-500.woff') format('woff'), /* Modern Browsers */
        url('./fonts/poppins/poppins-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
        url('./fonts/poppins/poppins-v15-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
 }
 
 /* poppins-500italic - latin */
 @font-face {
   font-family: 'Poppins';
   font-style: italic;
   font-weight: 500;
   src: url('./fonts/poppins/poppins-v15-latin-500italic.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('./fonts/poppins/poppins-v15-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./fonts/poppins/poppins-v15-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('./fonts/poppins/poppins-v15-latin-500italic.woff') format('woff'), /* Modern Browsers */
        url('./fonts/poppins/poppins-v15-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('./fonts/poppins/poppins-v15-latin-500italic.svg#Poppins') format('svg'); /* Legacy iOS */
 }

 /* montserrat-100 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: url('./fonts/montserrat/montserrat-v15-latin-100.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/montserrat/montserrat-v15-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/montserrat/montserrat-v15-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/montserrat/montserrat-v15-latin-100.woff') format('woff'), /* Modern Browsers */
         url('./fonts/montserrat/montserrat-v15-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/montserrat/montserrat-v15-latin-100.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  
  /* montserrat-200 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: url('./fonts/montserrat/montserrat-v15-latin-200.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/montserrat/montserrat-v15-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/montserrat/montserrat-v15-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/montserrat/montserrat-v15-latin-200.woff') format('woff'), /* Modern Browsers */
         url('./fonts/montserrat/montserrat-v15-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/montserrat/montserrat-v15-latin-200.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  
  /* montserrat-300 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/montserrat/montserrat-v15-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/montserrat/montserrat-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/montserrat/montserrat-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/montserrat/montserrat-v15-latin-300.woff') format('woff'), /* Modern Browsers */
         url('./fonts/montserrat/montserrat-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/montserrat/montserrat-v15-latin-300.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  
  /* montserrat-regular - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/montserrat/montserrat-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/montserrat/montserrat-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/montserrat/montserrat-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/montserrat/montserrat-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/montserrat/montserrat-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/montserrat/montserrat-v15-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  
  /* orbitron-regular - latin */
@font-face {
     font-family: 'Orbitron';
     font-style: normal;
     font-weight: 400;
     src: url('./fonts/orbitron/orbitron-v17-latin-regular.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('./fonts/orbitron/orbitron-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('./fonts/orbitron/orbitron-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('./fonts/orbitron/orbitron-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
          url('./fonts/orbitron/orbitron-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('./fonts/orbitron/orbitron-v17-latin-regular.svg#Orbitron') format('svg'); /* Legacy iOS */
   }

   /* michroma-regular - latin */
@font-face {
     font-family: 'Michroma';
     font-style: normal;
     font-weight: 400;
     src: url('./fonts/michroma/michroma-v11-latin-regular.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('./fonts/michroma/michroma-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('./fonts/michroma/michroma-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('./fonts/michroma/michroma-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
          url('./fonts/michroma/michroma-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('./fonts/michroma/michroma-v11-latin-regular.svg#Michroma') format('svg'); /* Legacy iOS */
     }