:root {
  --bg-color: #ffffff;
  --bg-lb-color: rgb(245, 248, 255);
  --m-color: #0071c5;
  --mc-color: #ba2831;
  --m1-color: #ddeaca;
  --m2-color:#e9b143;
  --text-color: rgba(53, 53, 54, 1);
}

video {
  width: 320px;
  height: 180px;
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  height: 100vh;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  /* 
    background-image: linear-gradient(21deg, rgba(64, 83, 206, 0.3697003235) 68%, rgba(255, 206, 196, 0.5) 163%), linear-gradient(163deg, rgba(49, 146, 170, 0.0794448997) 86%, rgba(239, 112, 138, 0.5) 40%), linear-gradient(30deg, rgba(76, 79, 173, 0.6173675717) 22%, rgba(237, 106, 134, 0.5) 169%), linear-gradient(48deg, rgba(31, 85, 147, 0.7323890642) 64%, rgba(247, 126, 132, 0.5) 43%);
  */
  background: url("../assets/img/03.jpg") no-repeat fixed center;
  background-size:100% 100%;
  background-blend-mode: overlay, multiply, color, normal;
  color: rgba(255, 255, 255, 0.8);
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

#wrapper {
  width: 100vw;
  overflow: hidden;
  height: 100%;
  margin: 0;
  background: var(--bg-color);
  color: var(--text-color);
}

header {
  width: 100vw;
  padding: 20px;
}

.nav {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". ."; 
}

.nav .right {
  text-align: right;
}

.nav #title {
  font-size: 1.2rem;
}

.nav #title span {
  text-align: center;
  width: 120px;
  display: inline-block;
  padding: 0.2rem 1rem;
  margin: 0;
}

.nav #title .t1 {
  border: 1px solid var(--m-color);
  background-color: var(--m-color);
  color: white
}

.nav #title .t2 {
  border: 1px solid var(--m-color);
}

.nav a {
  display: inline-block;
  color: var(--m-color);
  text-decoration: none;
}

.nav a:hover {
  color: var(--mc-color);
}

.main {
  display: flex;
  justify-content: space-between;
  /* width: 100%;
  max-width: 1200px;
  height: 90vh;
  max-height: 900px; */
  width: 100vw;
  height: 100vh;
  box-shadow: 0 0.3px 2.2px rgba(0, 0, 0, 0.011), 0 0.7px 5.3px rgba(0, 0, 0, 0.016), 0 1.3px 10px rgba(0, 0, 0, 0.02), 0 2.2px 17.9px rgba(0, 0, 0, 0.024), 0 4.2px 33.4px rgba(0, 0, 0, 0.029), 0 10px 80px rgba(0, 0, 0, 0.04);
  overflow: hidden;
  color: rgba(53, 53, 54, 1);
}

/* .left-bar:before {
  background-image: url("../assets/img/03.jpg");
  height: 100%;
  width: 280px;
  clip-path: inset(0px);
  filter: blur(10px);
  z-index: -1;
  position: fixed;
  left: 0;
  right: 0;
  content: "";
} */

.left-bar {
  width: 280px;
  border-right: 1px solid rgb(227, 231, 247);
  position: relative;
  z-index: 0;
  background-color: var(--bg-lb-color);
}

.left-content {
  padding: 40px;
}

.userID {
  display: none;
}

.page-content {
  width: 100%;
  margin-left: 40px;
}

div[id^="client-"] {
  display: inline-block;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: var(--bg-color);
  width: 100vw;
  padding: 20px;
}