.video-panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". . . .";
}

@media only screen and (max-width: 812px) {
  .video-panel {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: ". .";
  }
}

@media screen and (max-width: 640px) {
  .video-panel {
    display: block;
  }
}

video, canvas {
    width: 320px;
    height: 180px;
  }  

#inputvideo_mp {
  display: none;
}

#inputvideo_owt {
  display: none;
}

#control-panel {
  margin-bottom: 1rem;
  display: none;
}

#control-panel #control-panel {
  display: none;
}

#control-panel #fps,  #control-panel #fpsnote {
  width: 100px;
}

#control-panel #fps {
  font-size: 40px;
  padding-bottom: 6px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

#control-panel #fpsnote {
  padding: 2px 10px;
  background-color: rgba(255, 255, 255, 0.2);
}
