.video-panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: 
  ". . . . . "
  ". . . . . "
  ". . . . . ";
}

.norightbar .video-panel {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  ". . . . . ."
  ". . . . . ."
  ". . . . . .";
}

@media only screen and (max-width: 812px) {
  .video-panel {
    grid-template-columns: 1fr;
    grid-template-areas: ".";
  }
}

@media screen and (max-width: 640px) {
  .video-panel {
    display: block;
  }
}

video, canvas {
    width: 320px;
    height: 180px;
  }  

.inputvideo_mp {
  display: none;
}

.inputvideo_owt {
  display: none;
}

.vslot {
  display: inline-block;
  position: relative;
}

.bar {
  position: absolute;
  text-align: right;
  bottom: 6px;
  height: 30px;
  line-height: 30px;
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.1);
  width: 320px;
}

.x4 canvas {
  width: 960px !important;
  height: 622px;
}

.x4 .bar {
  width: 960px;
}

.spx4 {
  width: 30px;
  display: inline-block;
}

.spx4:hover {
  cursor: pointer;
}

.bar:hover {
  color: rgba(255, 255, 255, 1.0);
  background: rgba(255, 255, 255, 0.2);
}

#control-panel {
  height: 68px;
}

.cp-wasm, .cp-fps {
  display: inline-block;
  vertical-align: bottom;
}

.cp-wasm {
  width: 60px;
  height: 60px;
}

.cp-wasm svg {
  width: 60px;
  height: 60px;
}

.cp-wasm svg path {
  transform: scale(0.095);
}

.cp-fps {
  margin-left: 8px;
}

.cp-fps svg {
  width: 120px;
  height: 60px;
}

.mplogo {
  margin-bottom: -10px;
}

.cleft {
  text-align: left;
}

.counter .hd {
  margin-left: 8px !important;
}

#hd {
  margin-left: 16px !important;
}

#control-panel {
  display: none;
  text-align: left;
}

#control-panel #control-panel {
  display: none;
}

#control-panel #fps,  #control-panel #fpsnote {
  width: 74px;
}

#control-panel #fps, #control-panel #inference {
  font-size: 24px;
  padding: 2px 10px 4px 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
}



#control-panel #inference span {
  font-size: 24px;
}

#control-panel #fpsnote, #control-panel #inferencenote {
  padding: 2px 10px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 0.6rem;
  text-align: center;
}

#control-panel #inferencenote {
  text-transform: uppercase;
}

#control-panel #inference {
  font-size: 18px;
  text-transform: lowercase;
  min-width: 140px;
}

#model {
  font-size: 0.6rem;
  text-transform: uppercase;
}

.btnfullscreen {
  display: inline-block;
  line-height: 30px;
  width: 30px;
  margin: 0 0.5rem;
}

.btnfullscreen svg {
  margin-bottom: -5px;
  width: 18px;
  height: 18px;
}

.btnfullscreen svg path {
  fill: rgba(255, 255, 255, 0.8);
}

.btnfullscreen:hover svg path {
  color: rgba(255, 255, 255, 1.0);
}