.control .button {
  border: 1px solid var(--text-color);
  border-radius: 100%;
  height: 40px;
  width: 40px;
  text-align: center;
  position: relative;
  margin: 0 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.control .button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  color: var(--text-color);
}

.control .button svg {
  display: none;
}

.control .button svg.block {
  display: inline-block;
}

.control .button:hover {
  border-color: rgb(98, 150, 44);
  background-color: rgb(98, 150, 44);
}

.control .button.disabled {
  border-color: rgb(255, 255, 255, 0.2);
  background-color: rgb(255, 255, 255, 0.);
}

.control .button.disabled svg {
  color: rgb(255, 255, 255, 0.2);
}

.control .button.disabled:hover {
  border-color: rgb(255, 255, 255, 0.2);
  background-color: rgb(255, 255, 255, 0.2);
}

.control .button.disabled:hover svg {
  color: rgb(255, 255, 255, 0.4);
}

.control .button:hover svg {
  color: white;
}

#tns svg path {
  fill: var(--text-color);
}

#tns.act svg path {
  fill: rgba(204, 255, 144, 1);
}

#tns.disabled svg path {
  fill: rgb(255, 255, 255, 0.2);
}

.button.act {
  border-color: rgba(204, 255, 144, 1);
}

.button.act svg path {
  fill: rgba(204, 255, 144, 1);
}

#ue.button {
    transform: rotate(-135deg);
    border: 1px solid var(--han-color);
    background-color: var(--han-color);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#ue.button svg {
    color: white
}

#ue.button:hover {
    border: 1px solid var(--han2-color);
    background-color: var(--han2-color);
}

#left-bar {
    display: none;
}

.counter {
  display: inline-block;
  text-align: center;
  font-weight: 200;
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-family: "Michroma";
}

.counter .title {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.2rem 1rem;
}

.counter span {
  font-size: 11px;
}

.counter .hd {
  border: 1px solid var(--border-color);
  margin-left: 8px;
  padding: 1px 6px;
  display: inline-block;
  color: rgba(204, 255, 144, 1);
  font-size: 0.6rem;
  vertical-align: middle;
  text-transform: uppercase;
}

.counter .hdnone {
  border: 1px solid var(--border-color);
  margin-left: 8px;
  padding: 1px 6px;
  display: none;
  color: rgba(204, 255, 144, 1);
  font-size: 0.6rem;
  vertical-align: middle;
  text-transform: uppercase;
}

.counter .hd:last-child {
  margin-left: 0rem;
}

.counter .hd:hover {
  border-color: rgba(204, 255, 144, 1);
  color: #fff;
}

#mstracklabel {
  max-width: 160px;
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}

.mill {
  width: 24px;
  display: inline-block;
  text-align: left;
  margin-left: -3px;
  font-family: "Michroma";
}

.clock {
  display: inline-block;
  font-family: "Michroma";
}

#clock, #mill {
  vertical-align: middle;
}

.outer {
  width: 12px;
  height: 12px;
  margin: 0;
  transform: scale(1);
  border-radius: 100%;
  position: absolute;
  background-color: rgba(204, 255, 144, 1);
  transition: 1.5s all ease;
  animation: rec 1.5s infinite;
  animation-delay: 1.5s;
}

.circle {
  width: 12px;
  background-color: rgba(204, 255, 144, 1);
  display: inline-block;
  margin-right: 0.2rem;
  border-radius: 100%;
  cursor: default;
  transition: 1s all ease-in;
}

.inner {
  color: #fff;
  line-height: 12px;
  display: block;
  text-align: center;
  transition: 0.1s all ease-in;
}

@keyframes rec {
  0% {
    transform: scale(1.2);
    opacity: 0.5;
  }

  50% {
    transform: scale(1.6);
    opacity: 0.3;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.hda span:nth-of-type(2) {
	animation-delay: .05s;
}
.hda span:nth-of-type(3) {
	animation-delay: .1s;
}
.hda span:nth-of-type(4) {
	animation-delay: .15s;
}
.hda span:nth-of-type(5) {
	animation-delay: .2s;
}
.hda span:nth-of-type(6) {
	animation-delay: .25s;
}
.hda span:nth-of-type(7) {
	animation-delay: .3s;
}
.hda span:nth-of-type(8) {
	animation-delay: .35s;
}
.hda span:nth-of-type(9) {
	animation-delay: .4s;
}
.hda span:nth-of-type(10) {
	animation-delay: .45s;
}
.hda span:nth-of-type(11) {
	animation-delay: .5s;
}
.hda span:nth-of-type(12) {
	animation-delay: .55s;
}
.hda span:nth-of-type(13) {
	animation-delay: .6s;
}
.hda span:nth-of-type(14) {
	animation-delay: .65s;
}
.hda span:nth-of-type(15) {
	animation-delay: .7s;
}
.hda span:nth-of-type(16) {
	animation-delay: .75s;
}
.hda span:nth-of-type(17) {
	animation-delay: .8s;
}
.hda span:nth-of-type(18) {
	animation-delay: .85s;
}
.hda span:nth-of-type(19) {
	animation-delay: .9s;
}
.hda span:nth-of-type(20) {
	animation-delay: .95s;
}


/* Animation One */

.hdanimation span {
	color: #fff;
	opacity: 0;
	transform: translate(-150px, -50px) rotate(-180deg) scale(1);
	animation: revolveScale .4s infinite;
  font-size: 0.6rem;
}

@keyframes revolveScale {
	60% {
		transform: translate(20px, 20px) rotate(30deg) scale(.3);
	}

	100% {
		transform: translate(0) rotate(0) scale(1);
		opacity: 1;
	}
}