#fg, #bg {
  width:100%;
  overflow:hidden;
}

#bg div, #fg div {
  width:100%;
  height:100%;
  overflow:hidden;
  position:absolute;
  top:0;
}

#fg sub {
  font-size:12px;
  display:block;
  border-top: 2px var(--text-color) solid;
  display: block;
  width: 36px;
  margin-top: 0.5rem;
}

#fg p {
  padding:12px;
  position: fixed;
  bottom: 12px;
  max-width: 100px;
}

#home .logos {
  backdrop-filter: blur(10px);
  width: 660px;
  text-align: center;
  margin-top: 10px;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#home .logos svg {
  width: 100px;
  height: 60px;
  display: inline-block;
  margin: 0 0.3rem;
}
 
#home .logos svg.mp {
  margin-bottom: 12px;
}

#home svg.webnn {
  width: 160px;
  height: 60px;
}

#login, #wrapper, .logos {
    display: none;
}

#login {
  background: transparent;
  backdrop-filter: blur(20px);
  border-radius: 5px;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.2);
  width: 660px;
  color: #fff;
  height: 320px;
}

#login h2 {
  font-weight: 200;
}


#banner { 
  margin-top: 3rem;
  background: url(../img/oneapi.png) no-repeat right;
  background-size: 40px 40px;
  max-width: 212px;
}

#cnote {
  margin-top: 4px;
  font-weight: 100;
}

.join {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". .";
    align-items: center;
    justify-items: center;
}

/* 

.glass {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 25px;
    background-image: url("../img/03.jpg"); 
    background-size: cover;
    background-position: center;
    clip-path: inset(20px);
    filter: blur(20px);
  }

*/

  .drop-shadow {
    height: 100%;
    width: 100%;
    filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.3));
  }

  .buttonset a {
      border: 1px solid rgba(255, 255, 255, 0.8);
      padding: 0.2rem 0.5rem;
      cursor: pointer;
      display: inline-block;
      text-align: center;
  }

  .buttonset a:hover {
    border: 1px solid rgba(255, 255, 255, 1.0);
  }

  .vo a {
      width: 165px;
      margin: 0px;
  }

  .vo a:last-child {
      margin-left: -1px;
  }

  .v2 a {
    width: 164px;
    margin: 0px;
}

.v2 a:last-child {
    margin-left: -4px;
}

  .vo a#btnwebnn {
    margin-left: 0px;
  }

  .vm a {
    width: 165px;
    margin: 0px;
}

  .vm a:last-child {
      margin-left: -0px;
  }

  .vr a {
      width: 110px;
      margin: 0px;
  }

  .vf a {
    width: 82.5px;
    margin: 0px;
}

  #login-480 {
    margin-left: -1px;
  }

  .vr a:last-child {
    margin-left: -1px;
  }

  a.selected {
      background: rgba(255, 255, 255, 0.8);
      color: rgba(0, 0, 0, 0.8);
  }

  a:hover.selected {
    background: rgba(255, 255, 255, 1.0);
    color: rgba(0, 0, 0, 1.0);
}

.join input {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);
    padding: 0.5rem;
    font-size: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
}

.join ::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.join input:focus, 
.join input:hover {
    color: #fff;rgba(15, 76, 129, 0.9)
    border: 1px solid rgba(255, 255, 255, 1.0);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.linkjoin {
      display: block;
      margin: 0 auto;
      text-align: center;
      align-items: center;
      justify-items: center;
      width: 100%;
  }

  .linkjoin button {
    display: inline-block;
    width: 50%;
    border: 1px solid rgba(255, 255, 255, 0.8);
    text-align: center;
    margin-top: 1rem;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    color:rgba(255, 255, 255, 0.8);
    text-decoration: none;
    text-transform: uppercase;
  }

  .linkjoin button:hover {
    background: rgba(255, 255, 255, 1.0);
    color: rgba(0, 0, 0, 1.0);
    border: 1px solid rgba(255, 255, 255, 1.0);
  }

  .webmlbadge {
    margin-top: 20px;
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 0.8rem;
  }
  
  .webml-title {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.8);
    padding: 0.2rem 0.4rem;
  }
  
  .webml-title:hover {
    border: 1px solid rgba(255, 255, 255, 1.0);
    background: rgba(213, 213, 213, 0.3);
  }
  
  .webml-status-false {
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 0.2rem 0.4rem 0.2rem 0.6rem;
    margin-left: -8px;
    border-left: 0px;
  }
  
  .webml-status-false:hover {
    background: rgba(213, 213, 213, 0.3);
    color: rgba(255, 255, 255, 1.0);
  }
  
  .webml-status-true {
    margin-left: -8px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 0.2rem 0.4rem 0.2rem 0.6rem;
  }
  
  .webml-status-true {
    border-left: 0px;
  }
  
  .webml-status-true:hover {
    background: rgba(213, 213, 213, 0.3);
    border: 1px solid rgba(255, 255, 255, 1.0);
    color: rgba(255, 255, 255, 1.0);
    border-left: 0px;
  }

  #pv {
    margin: 0.3rem;
    border-collapse: collapse;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 26vw;
    font-size: 0.8rem;
    display: none;
  }

  #pv td {
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(6, 26, 89, 0.2);
    backdrop-filter: blur(20px);
    padding: 0.2rem 0.6rem;
  }

  .pvshow {
    display: block !important;
  }