:root {
  --bg-color: #ffffff;
  --bg-lb-color: rgba(21.5, 23.8, 41.9, 1.0);
  --bg-main-color: rgba(39, 40, 60, 1);
  --bg-vc-color: rgba(27, 28, 48, 1);
  --bg-textbg-color: rgba(6.5, 10.8, 20.3, 1.0);
  --m-color: #ccff90;
  --mc-color: #ba2831;
  --m1-color: #ddeaca;
  --m2-color:#e9b143;
  --han-color: rgba(196, 49, 75, 1);
  --han2-color: rgba(154, 32, 53, 1);
  --text-color: rgba(255, 255, 255, 0.8);
  --text2-color: rgba(255, 255, 255, 1.0);
  --text3-color: rgba(255, 255, 255, 0.5);
  --border-color: rgba(227, 231, 247, 0.1);
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  /* 
    background-image: linear-gradient(21deg, rgba(64, 83, 206, 0.3697003235) 68%, rgba(255, 206, 196, 0.5) 163%), linear-gradient(163deg, rgba(49, 146, 170, 0.0794448997) 86%, rgba(239, 112, 138, 0.5) 40%), linear-gradient(30deg, rgba(76, 79, 173, 0.6173675717) 22%, rgba(237, 106, 134, 0.5) 169%), linear-gradient(48deg, rgba(31, 85, 147, 0.7323890642) 64%, rgba(247, 126, 132, 0.5) 43%);
  */
  /* background: url("../img/03.jpg") no-repeat fixed center;
  background-size:100% 100%; */
  background-blend-mode: overlay, multiply, color, normal;
  color: var(--text-color);
}

.dnone {
  display: none;
}

.dnoneimp {
  display: none !important;
}

#setting h4 {
  margin: 0.6rem 0;
}

.join header {
  margin-bottom: 0.6rem;
}

header {
  text-align: center;
  color: var(--text2-color);
}

header.title {
  font-size: 1.6rem;
  font-weight: 100;
}

header .meet {
  font-weight: bolder;
}

.join h4 {
  margin: 6px 0px;
  font-weight: 400;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

#wrapper {
  width: 100vw;
  overflow: hidden;
  height: 100%;
  margin: 0;
  background: var(--bg-color);
  color: var(--text-color);
}

.main {
  display: flex;
  justify-content: space-between;
  /* width: 100%;
  max-width: 1200px;
  height: 90vh;
  max-height: 900px; */
  width: 100vw;
  height: 100vh;
  box-shadow: 0 0.3px 2.2px rgba(0, 0, 0, 0.011), 0 0.7px 5.3px rgba(0, 0, 0, 0.016), 0 1.3px 10px rgba(0, 0, 0, 0.02), 0 2.2px 17.9px rgba(0, 0, 0, 0.024), 0 4.2px 33.4px rgba(0, 0, 0, 0.029), 0 10px 80px rgba(0, 0, 0, 0.04);
  overflow: hidden;
  background-color: var(--bg-main-color);
}

/* .left-bar:before {
  background-image: url("../assets/img/03.jpg");
  height: 100%;
  width: 280px;
  clip-path: inset(0px);
  filter: blur(10px);
  z-index: -1;
  position: fixed;
  left: 0;
  right: 0;
  content: "";
} */

#left-bar {
  width: 300px;
  border-right: 1px solid rgba(227, 231, 247, 0.1);
  position: relative;
  z-index: 0;
  background-color: var(--bg-lb-color);
}

#user-list {
  height: 36vh;
  overflow-y: auto;
  max-width: 243px;
  overflow-x: hidden;
}

#text-content {
  height: 36vh;
  overflow-y: auto;
  max-width: 243px;
  overflow-x: hidden;
}

#user-list.full, #text-content.full {
  height: 83vh;
}

.lb .title {
  text-transform: uppercase;
  margin: 10px 0;
  font-size: 0.7rem;
  letter-spacing: 2px;
}

#user-list::-webkit-scrollbar-track, #text-content::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
	background-color: var(--bg-lb-color);
	border-radius: 5px;
}

#user-list::-webkit-scrollbar, #text-content::-webkit-scrollbar
{
	width: 5px;
	background-color: var(--bg-lb-color);
}

#user-list::-webkit-scrollbar-thumb, #text-content::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	background-color: var(--bg-textbg-color);
}

#text-send::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
	background-color: var(--bg-lb-color);
	border-radius: 2px;
}

#text-send::-webkit-scrollbar
{
	width: 2px;
	background-color: var(--bg-lb-color);
}

#text-send::-webkit-scrollbar-thumb
{
	border-radius: 2px;
	background-color: var(--bg-textbg-color);
}

#user-list {
  margin-top: 10px;
}

#user-list li {
  list-style: none;
}

#user-list img {
  height: 16px;
  width: 16px;
  color: var(--text-color);
  display: inline-block;
}

#user-list svg {
  height: 20px;
  width: 20px;
  color: var(--text-color);
  display: inline-block;
}

#user-list li .name {
  display: inline-block;
  max-width: 156px;
  overflow-x: hidden;
  margin-left: 0.2rem;
}

#user-list li {
  display: grid; 
  grid-template-columns: 1fr 6fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . ."; 
  margin: 6px 0;
}

.muteShow, .muteShow svg {
  width: 20px;
  align-self:center;
  justify-self:flex-end;
}

#participants, #conversation {
  display: none;
}
#message {
  display: grid; 
  grid-template-columns: 8fr 2fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . "; 
  position: fixed;
  bottom: 20px;
  left: 10px;
  width: 236px;
}

.msghead {
  font-size: 0.6rem;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". ."; 
  justify-content: space-between; 
  justify-items: center; 
  align-items: center; 
}

.msguser {
  justify-self: start;
  max-width: 156px;
  overflow: hidden;
}

.msgtime {
  justify-self: end;
}

#send-btn {
  border: 1px solid var(--border-color);
  text-align: center;
}

#send-btn:hover {
  border: 1px solid var(--text3-color);
}

#send-btn svg {
  height: 18px;
  color: var(--text-color);
  transform: rotate(45deg);
}

#send-btn svg:hover {
  color: var(--text3-color);
  transition: all 0.5s ease;
  transform: rotate(15deg);
}

#send-btn svg:hover {
  height: 18px;
  color: var(--text2-color);
}

#text-send::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

#text-send {
  background-color: var(--bg-textbg-color);
  border: 1px solid var(--border-color);
  color: var(--text2-color);
  font-family: "Poppins";
  height: 40px;
  padding: 10px 2px 2px 2px;
}

#text-send:hover {
  border: 1px solid var(--text3-color);
  background-color: transparent;
}


.content {
  padding: 10px;
}

.userID {
  display: none;
}

.page-content {
  width: 100%;
}

div[id^="client-"] {
  display: inline-block;
}

#nav {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . ";
  padding: 10px 10px;
  border-bottom: 1px solid var(--border-color);
}

#nav header {
  text-align: left;
}

.backendlogo {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . . . ."; 
  justify-content: space-between; 
  justify-items: center; 
  align-items: center; 
}

.backendwasm {
  display: inline-block;
  overflow: hidden;
  margin-bottom: -7px;
}

.backendwasm svg#wasm {
  display: inline-block;
  width: 35px;
  height: 35px;
}

.backendwasm svg#wasm path {
  transform: scale(0.06);
}

.backendwebgl {
  display: inline-block;
  margin-bottom: -8px;
}

.backendwebgl svg#webgl {
  height: 35px;
  width: 50px;
  transform: scale(1.2);
}

.backendlogo svg text tspan {
  color: #fff;
  fill: #fff;
}

.webnnlogo {
  height: 35px;
  transform: scale(0.6);
  margin-top: -5px;
}

.backendlogo .rightname {
  font-weight: bold;
}

#navuser {
  align-self:center;
  justify-self: end;
}

#ic {
  display: grid; 
  grid-template-columns: 5fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". ."; 
  height: calc(100vh - 140px);
}

.norightbar {
  grid-template-columns: 6fr !important; 
  grid-template-areas: 
    "." !important; 
}

.video {
  position: relative;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 20px 10px;
  border-top: 1px solid var(--border-color);
  text-align: center;
}

.moveleft .control {
  margin-left: -502px;
  display: inline-block;
}