 
.cleft a {
  color: rgba(204, 255, 144, 1);
  text-decoration: none;
  font-size: 0.78rem;
}

.cleft a:hover {
  color: rgba(204, 255, 144, 1);
  text-decoration: underline;
}

.mega-drop-down {
  color: white;
  text-decoration: none;
  display: inline-block;
}

.mega-drop-down:hover {
  color: rgba(204, 255, 144, 1);
}

.mega-drop-down-div {
  justify-self: end;
}

.dgrid {
  display: grid !important;
} 

.mega-menu {
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  width: 100%;
  background: #2a394f;
  color: white;
  font-size: 0.7rem;
  z-index: 10000;
}

.mega-menu {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . .";
}

.mega-menu h4, .mega-menu h5 {
  margin: 0px;
  color: white;
}

.mega-menu .col:hover h4, .mega-menu .col:hover h5 {
  color: rgba(204, 255, 144, 1)
}

.mega-menu a {
  color: white;
  text-decoration: none;
}

.mega-menu .col {
  padding: 20px 60px 1px 60px;
}

.mega-menu .col:hover {
  background: #212e41;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.megahead {
  display: grid; 
  grid-template-columns: 1fr 3fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". ."; 
  justify-content: end; 
  justify-items:flex-start;
  align-items:flex-end;
}

.mega-menu .wasm-logo {
  display: inline-block;
  vertical-align: bottom;
  width: 50px;
  height: 50px;
}

.mega-menu .webnn-logo {
  display: inline-block;
  vertical-align: bottom;
  width: 50px;
  height: 50px;
}

.mega-menu .wasm-logo path {
  transform: scale(0.08);
}


.mega-menu .col ul li {
  padding: 2px 0;
}

.mega-menu .col ul li:hover {
  border-bottom: 1px rgba(204, 255, 144, 1) solid;
  transition: box-shadow 0.3s linear, text-indent 0.3s linear;
}

.mega-menu .col ul li:hover a {
  color: rgba(204, 255, 144, 1);
}

.mega-menu .col svg use, .mega-menu .col:hover path {
  fill: rgba(255, 255, 255, 0.8);
  stroke: rgba(255, 255, 255, 0.4);
}

.mega-menu .col:hover svg use, .mega-menu .col:hover svg path {
  fill: rgba(204, 255, 144, 1);
  stroke: rgba(204, 255, 144, 0.4);
}

.mega-menu .col:hover svg.wasm-logo path:first-child {
  fill: rgba(204, 255, 144, 0.2);
}

@media (min-width: 641px) and (max-width: 768px) {
  .mega-menu {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      ". ."
      ". .";
  }

  .mega-menu .col {
    padding: 20px 20px 0px 20px;
  }
}
 
@media (max-width: 640px) {
  .mega-menu {
    grid-template-columns: 1fr;
    grid-template-areas:
      "."
      "."
      "."
      ".";
  }

  .mega-menu .col {
    padding: 20px 20px 0px 20px;
  }
}
 
#errormsg {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 400px;
  height: 240px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  background-color: #0071c5;
  z-index: 10001;
}

#errormsg ol {
  margin-left: -26px;
}

#errormsg ol a {
  color: white;
}

#errormsg:hover {
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.video-panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . "
    ". . . . . "
    ". . . . . ";
}

.norightbar .video-panel {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". . . . . ."
    ". . . . . ."
    ". . . . . .";
}

@media only screen and (min-width: 1940px) and (max-width: 2240px) {
  .video-panel {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr !important;
    grid-template-areas:
      ". . . . . ."
      ". . . . . ."
      ". . . . . ." !important;
  }

  .norightbar .video-panel {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr !important;
    grid-template-areas:
      ". . . . . . ."
      ". . . . . . ."
      ". . . . . . ." !important;
  }
}

@media only screen and (min-width: 2241px) and (max-width: 2564px) {
  .video-panel {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      ". . . . . . ."
      ". . . . . . ."
      ". . . . . . .";
  }

  .norightbar .video-panel {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      ". . . . . . . ."
      ". . . . . . . ."
      ". . . . . . . .";
  }
}

@media only screen and (min-width: 2565px) and (max-width: 2862px) {
  .video-panel {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      ". . . . . . . ."
      ". . . . . . . ."
      ". . . . . . . .";
  }

  .norightbar .video-panel {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      ". . . . . . . . ."
      ". . . . . . . . ."
      ". . . . . . . . .";
  }
}

@media only screen and (min-width: 2863px) and (max-width: 3204px) {
  .video-panel {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      ". . . . . . . . ."
      ". . . . . . . . ."
      ". . . . . . . . .";
  }

  .norightbar .video-panel {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      ". . . . . . . . . ."
      ". . . . . . . . . ."
      ". . . . . . . . . .";
  }
}

@media only screen and (min-width: 3205px) and (max-width: 3526px) {
  .video-panel {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      ". . . . . . . . . ."
      ". . . . . . . . . ."
      ". . . . . . . . . .";
  }

  .norightbar .video-panel {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      ". . . . . . . . . . ."
      ". . . . . . . . . . ."
      ". . . . . . . . . . .";
  }
}

@media only screen and (min-width: 3527px) {
  .video-panel {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      ". . . . . . . . . . ."
      ". . . . . . . . . . ."
      ". . . . . . . . . . .";
  }

  .norightbar .video-panel {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . .";
  }
}

@media only screen and (max-width: 812px) {
  .video-panel {
    grid-template-columns: 1fr;
    grid-template-areas: ".";
  }

  video,
  canvas,
  #outputimg {
    width: 280px !important;
    height: 156px !important;
  }
  .bar { width: 280px !important; bottom: 0px !important; }
}

@media screen and (max-width: 640px) {
  .video-panel {
    display: block;
  }
}

video,
canvas,
#outputimg {
  width: 320px;
  height: 180px;
}

.inputvideo {
  display: none;
}

.vslot {
  display: inline-block;
  position: relative;
}

.username {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 42px;
  height: 20px;
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  text-align: center;
  white-space: nowrap;
  max-width: 56px;
  overflow: hidden;
}

.vslot:hover .username {
  background: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 1);
}

.bar {
  position: absolute;
  text-align: right;
  bottom: 6px;
  height: 30px;
  line-height: 30px;
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.2);
  width: 320px;
}

.x4 canvas, .x4 #outputimg {
  width: 640px !important;
  height: 360px;
}

.x4 .bar {
  width: 640px;
}

.spx4 {
  width: 30px;
  display: inline-block;
}

.spx4:hover {
  cursor: pointer;
}

.vslot:hover .bar {
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 0, 0, 0.4);
}

/* #control-panel {
  height: 68px;
} */

.cp-wasm,
.cp-fps {
  display: inline-block;
  vertical-align: bottom;
}

.cp-wasm {
  width: 56px;
  height: 56px;
}

.cp-wasm svg {
  width: 56px;
  height: 56px;
}

.cp-wasm svg path {
  transform: scale(0.095);
}

.cp-webnn {
  display: inline-block;
}

.cp-webnn svg.webnn {
  width: 160px;
  height: 56px;
  display: inline-block;
  margin-bottom: -20px;
}

.cp-fps {
  margin-left: 8px;
}

.cp-fps svg {
  width: 100px;
  height: 50px;
}

.mplogo {
  margin-bottom: -10px;
}

.cleft {
  text-align: left;
}

.counter .hd {
  margin-left: 8px !important;
}

#hd {
  margin-left: 16px !important;
}

#control-panel {
  display: none;
  text-align: left;
}

#control-panel #control-panel {
  display: none;
}

#control-panel #fps {
  min-width: 58px;
}

#ss-panel, #ns-panel {
  display: inline-block;
}

#control-panel #fps,
#control-panel #deviceselection,
#control-panel #inference,
#control-panel #nsprep,
#control-panel #nspostp,
#control-panel #nsinference,
#control-panel #cpus,
#control-panel #cpuu {
  font-size: 20px;
  padding: 2px 10px 4px 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
}

#control-panel #inference span,
#control-panel #nsinference span,
#control-panel #nsprep span,
#control-panel #nspostp span  {
  font-size: 20px;
}

#control-panel #fpsnote,
#control-panel #inferencenote,
#control-panel #nsinferencenote,
#control-panel #nsprepnote,
#control-panel #nspostpnote {
  padding: 2px 10px 3px 10px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 0.6rem;
  text-align: center;
}

#control-panel #inferencenote,
#control-panel #nsinferencenote,
#control-panel #nsprepnote,
#control-panel #nspostpnote {
  text-transform: uppercase;
}

#control-panel #inference,
#control-panel #nsinference,
#control-panel #nsprep,
#control-panel #nspostp {
  font-size: 18px;
  text-transform: lowercase;
  min-width: 126px;
}

#model {
  font-size: 0.6rem;
  text-transform: uppercase;
}

.btnfullscreen {
  display: inline-block;
  line-height: 30px;
  width: 30px;
  margin: 0 0.5rem;
}

.btnfullscreen svg {
  margin-bottom: -5px;
  width: 18px;
  height: 18px;
}

.btnfullscreen svg path {
  fill: rgba(255, 255, 255, 0.8);
}

.btnfullscreen:hover svg path {
  color: rgba(255, 255, 255, 1);
}
